# Variables
- Variable is symbolic name that refers to a value in RAM
- assignment operator (=)
- variable can comprise of (a-z,A-Z, digits, underscore)
- variables are case sensitive
- variable should not start with digit
- dynamically typed
- assign many variables in single line
- del command to delete and remove variable value from memory

In [3]:
x = 5
del x

In [4]:
x

NameError: name 'x' is not defined

In [5]:
a, b, c, d = 1,2,3,4
# a = 1
# b = 2
# c = 3
# d = 4
print(a, b, c, d)

1 2 3 4

In [6]:
a; b; c; d = 1;2;3;4
print(a,b,c,d)

1 2 3 1

# Datatypes - int, float, str, complex, bool

In [7]:
5  #ctrl + enter #python automatically detects type of data

5

In [1]:
age_number = 5

In [2]:
type(age_number)

int

In [4]:
price = 10.5 #decimal numbers
print(price)

10.5

In [11]:
type(price)

float

In [12]:
feedback = "The class is good and interesting"
feedback

'The class is good and interesting'

In [13]:
type(feedback)

str

In [14]:
netflix_subscriber = True
print(netflix_subscriber)
type(netflix_subscriber)

True

bool

In [15]:
complex_number = 3 + 4j
print(complex_number)
type(complex_number)

(3+4j)

complex

In [16]:
complex_no = complex(3, 4)
complex_no

(3+4j)

In [17]:
print(complex_no.real)
print(complex_no.imag)
print(abs(complex_no))  #square root of real 2 + imaginary 2

3.0
4.0
5.0

In [18]:
age_number

5

In [19]:
AGE_NUMBER

NameError: name 'AGE_NUMBER' is not defined

# Basics of Maths Operations

In [20]:
first_num = 5
second_num = 6
print(first_num + second_num)
print(first_num - second_num)
print(first_num / second_num)
print(first_num * second_num)
print(first_num ** second_num)  # (a, b) a raised to the power of b (3, 4) 3 to the power of 4
print(first_num % second_num) # modulus - remainder
print(first_num // second_num) #floor division operation nearest down whole number

11
-1
0.8333333333333334
30
15625
5
0

| Operators |            Description       | Associativity |
| ()        |            Parentheses       | Left to Right |
| **        |            Exponentiation    | Right to Left |
| *,/,//,%  |            Mul,Div,FloorDiv,Mod| Left to Right|
| +, -      |            Add, Sub          | Left to Right

In [21]:
result1 = 2 * 3 + 4
result1

10

In [22]:
result2 = 2 ** 3 ** 2
#  2 ** 9
# 512
result2

512

In [23]:
equation1 = (2 + 5) * (3 - 1) ** 2 + 4 / 2
equation1

30.0

# Logical Operations

In [24]:
1 == 2 # returns an answer in the form of boolean

False

In [25]:
1 != 2

True

In [26]:
True == True

True

In [27]:
1 == True

True

In [28]:
0 == False

True

In [29]:
10 > 10

False

# String

- sequence of characters and it can be manipulated it with help of more variables, operations
- immutable data type - no changes in the data saved in RAM

In [30]:
str1 = "Hello"
type(str1)
print(id(str1)) # getting memory address

4405948528

In [31]:
str1.upper()

'HELLO'

In [32]:
str2 = str1.upper()
print(str2)

HELLO

In [33]:
print(str1)

Hello

In [34]:
# Concatenation (+)
str1 = "Hello"
str2 = "World"
print(str1 + str2)

HelloWorld

In [35]:
# Repetition
str1 = "Hello "
str1 * 3

'Hello Hello Hello '

In [36]:
# indexing - access individual characters in a string using index
text = "Python is a good programming language"
print(text[0])  # first char
print(text[-1]) # last char

P
e

In [37]:
# slicing - extract substring from a given string with the range of indices
# slicing - [starting:ending] # starting is inclusive but ending is exclusive
text = "Python is a good programming language"
text[0:6] # ending index is exclusive in nature +1 in forward as well as in backward for ending pos

'Python'

In [38]:
text[-37: -31] # it starts with P at -37 and goes to first space -31

'Python'

In [39]:
text[:-31] # default text[startposition=0: -31]

'Python'

In [40]:
text[:]

'Python is a good programming language'

#### slicing : [startingpos:endingpos:stepsize] how many character you would like to jump
default = 1 (stepsize)

In [41]:
text[0:5:2]                # Python
                           #p t o

'Pto'

In [42]:
# entire text to give alternate character
text[::2]

'Pto sago rgamn agae'

In [43]:
text[::-1] # reversing the order of characters in reverse direction by step size 1

'egaugnal gnimmargorp doog a si nohtyP'

In [44]:
text[-31:-38:-1] # it starts the character n which is -31 position goes till 38th but extract till 37th and result is given in reverse direction

' nohtyP'

In [45]:
text.split(" ") # splitting which will take text and divide the entire text into certain strings by using delimiter

['Python', 'is', 'a', 'good', 'programming', 'language']

In [46]:
len(text) #length

37

In [47]:
text1 = "            Python      "
text1.strip() # removing whitespaces from both the ends

'Python'

In [48]:
text1.rstrip() # removing whitespaces from right side

'            Python'

In [49]:
text1.lstrip() # removing whitespaces from left side

'Python      '

# input() - takes dynamic input from user and its in the form of string

In [50]:
age = input('Enter your age no')
age

'12'

In [51]:
age = int(input('Enter your age no'))
age

12

In [52]:
type(age)

int

In [53]:
age = int(input("Enter your age no:")) # typecasting the input taken from the user

if isinstance(age, int): #checking whether age is proper numeric int or not
    print('Accepted input')
else:
    print("Please correct it")

Accepted input

# String formatting using placeholders

In [54]:
name = input("Enter your name")
age = int(input("Enter your age"))

In [55]:
text = "My name is {} and My age is {} years old".format(name, age)
text

'My name is 122 and My age is 12 years old'

%s - string, %d - integer, %f - float

In [56]:
print("My name is %s and my age is %d" %(name, age))

My name is 122 and my age is 12

String interpolation (f-strings) allow embedding expression inside string liberal

In [57]:
result = f"My name is {name} and My age is {age} years old"
result

'My name is 122 and My age is 12 years old'

In [58]:
price = float(input("enter price of an apple"))
print("The price of an apple is %.2f" %price)

ValueError: could not convert string to float: '!22'

In [59]:
import os
text = f"{os.getcwd()}\\sample"
print(text)

/Users/ahmad_qupe/Downloads\sample

In [60]:
type(age)

int

# Data Structures

Lists - ordered collection of elements, heterogeneous, duplicates, modify, delete (CRUD), mutable data structure, []

In [61]:
empId = []  # empty list
type(empId)

list

In [62]:
list1 = [1, 2, 3, 'apple','mango']
list1

[1, 2, 3, 'apple', 'mango']

In [63]:
# indexing - accessing each element present in the list
print(list1[0])  #forward indexing
print(list1[-5]) # negative indexing

1
1

In [64]:
#slicing - extract sublist
list1[0:3] #start:end and end is exclusive in nature

[1, 2, 3]

In [65]:
list1[::-1]

['mango', 'apple', 3, 2, 1]

In [66]:
# modify the list using index and assigment
list1[0] = 'orange'
list1

['orange', 2, 3, 'apple', 'mango']

In [67]:
# add the element at the end of the list
list1.append('kiwi')
list1

['orange', 2, 3, 'apple', 'mango', 'kiwi']

In [68]:
# insert any element at any position
list1.insert(0, 'papaya')
list1

['papaya', 'orange', 2, 3, 'apple', 'mango', 'kiwi']

In [69]:
list1.insert(list1.index('apple') + 1, 'k1')

In [70]:
list1

['papaya', 'orange', 2, 3, 'apple', 'k1', 'mango', 'kiwi']

In [71]:
list1.index('papaya') #index method - position of an element

0

In [72]:
list1.append('papaya')
list1.index('papaya') #first occurence

0

In [73]:
help(list.index)

Help on method_descriptor:

index(self, value, start=0, stop=9223372036854775807, /) unbound builtins.list method
    Return first index of value.

    Raises ValueError if the value is not present.

In [74]:
list1.sort() #requires homogeneous list

TypeError: '<' not supported between instances of 'int' and 'str'

In [75]:
list1

['papaya', 'orange', 2, 3, 'apple', 'k1', 'mango', 'kiwi', 'papaya']

In [76]:
# it will remove the value present in the list and basically returns None
# element value
list1.remove(2)  #return None

In [77]:
# it will remove out the element at index position 3 and it will return who is seating in that pos
# index position - seating no
list1.pop(3)

'apple'

In [78]:
list1

['papaya', 'orange', 3, 'k1', 'mango', 'kiwi', 'papaya']

In [79]:
list1.remove('papaya') #first occurence of removal

In [80]:
list1

['orange', 3, 'k1', 'mango', 'kiwi', 'papaya']

In [81]:
# append vs extend
list2 = ['watermelon','muskmelon']
list1.append(list2) # that whenever you add list into another list, in append, it acts like nested list
list1

['orange', 3, 'k1', 'mango', 'kiwi', 'papaya', ['watermelon', 'muskmelon']]

In [82]:
list1 = ['orange', 3, 'k1', 'mango', 'kiwi', 'papaya']
list1.extend(list2) # adds primitive values from second list to first list
list1

['orange', 3, 'k1', 'mango', 'kiwi', 'papaya', 'watermelon', 'muskmelon']

In [83]:
# remove 3 for sorting activity
list1.remove(3)

In [84]:
# sort vs sorted
list1.sort() # sort the original list present in the memory and returns nothing
list1

['k1', 'kiwi', 'mango', 'muskmelon', 'orange', 'papaya', 'watermelon']

In [85]:
list1.sort(reverse=True) #reverse/ desc order
list1

['watermelon', 'papaya', 'orange', 'muskmelon', 'mango', 'kiwi', 'k1']

In [86]:
# sort the new list but will not make changes in the original list
fruit_list_asc_order = sorted(list1)
fruit_list_asc_order

['k1', 'kiwi', 'mango', 'muskmelon', 'orange', 'papaya', 'watermelon']

In [87]:
list1

['watermelon', 'papaya', 'orange', 'muskmelon', 'mango', 'kiwi', 'k1']

In [88]:
len(list1) #length of list

7

# Tuples

- Tuple is heterogeneous, ordered, immutable (which cannot be changed), you cannot update, edit any elements present in the tuple

In [89]:
tuple1 = () # empty tuple
type(tuple1)

tuple

In [90]:
tuple1 = (20.7, 23.8) # latitude, longitude
tuple1

(20.7, 23.8)

In [91]:
tuple1[0] = 5 # editing of tuple1

TypeError: 'tuple' object does not support item assignment

In [92]:
len(tuple1)

2

In [93]:
#indexing and slicing
tuple1[0:]

(20.7, 23.8)

In [94]:
tuple2 = (1, 2, 3, 'apple','mango')
tuple2[1:3]

(2, 3)

In [95]:
tuple2.count('kiwi')  # count of occurences of an element

0

In [96]:
tuple2.index('mango') # getting the position of mango in the tuple

4

In [97]:
a, b = 1, 2
a, b

(1, 2)

In [98]:
list1 = ['apple','mango','banana','apple','apple']
tuple(list1)

('apple', 'mango', 'banana', 'apple', 'apple')

# Sets
- unordered (older version of python, new python version - insertion order), heterogeneous, removes duplicacy, edited

In [99]:
help(set)

Help on class set in module builtins:

class set(object)
 |  set() -> new empty set object
 |  set(iterable) -> new set object
 |
 |  Build an unordered collection of unique elements.
 |
 |  Methods defined here:
 |
 |  __and__(self, value, /)
 |      Return self&value.
 |
 |  __contains__(...)
 |      x.__contains__(y) <==> y in x.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iand__(self, value, /)
 |      Return self&=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __ior__(self, value, /)
 |      Return self|=value.
 |
 |  __isub__(self, value, /)
 |      Return self-=value.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __ixor__(self, value, /)
 |      Return self^=value.
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __or__(self, value, /)
 |      Return self|value.
 |
 |  __rand__(self, value, /)
 |      Return value&self.
 |
 |  __reduce__(...)
 |      Return state information for pickling.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __ror__(self, value, /)
 |      Return value|self.
 |
 |  __rsub__(self, value, /)
 |      Return value-self.
 |
 |  __rxor__(self, value, /)
 |      Return value^self.
 |
 |  __sizeof__(...)
 |      S.__sizeof__() -> size of S in memory, in bytes
 |
 |  __sub__(self, value, /)
 |      Return self-value.
 |
 |  __xor__(self, value, /)
 |      Return self^value.
 |
 |  add(...)
 |      Add an element to a set.
 |
 |      This has no effect if the element is already present.
 |
 |  clear(...)
 |      Remove all elements from this set.
 |
 |  copy(...)
 |      Return a shallow copy of a set.
 |
 |  difference(...)
 |      Return the difference of two or more sets as a new set.
 |
 |      (i.e. all elements that are in this set but not the others.)
 |
 |  difference_update(...)
 |      Remove all elements of another set from this set.
 |
 |  discard(...)
 |      Remove an element from a set if it is a member.
 |
 |      Unlike set.remove(), the discard() method does not raise
 |      an exception when an element is missing from the set.
 |
 |  intersection(...)
 |      Return the intersection of two sets as a new set.
 |
 |      (i.e. all elements that are in both sets.)
 |
 |  intersection_update(...)
 |      Update a set with the intersection of itself and another.
 |
 |  isdisjoint(...)
 |      Return True if two sets have a null intersection.
 |
 |  issubset(self, other, /)
 |      Test whether every element in the set is in other.
 |
 |  issuperset(self, other, /)
 |      Test whether every element in other is in the set.
 |
 |  pop(...)
 |      Remove and return an arbitrary set element.
 |      Raises KeyError if the set is empty.
 |
 |  remove(...)
 |      Remove an element from a set; it must be a member.
 |
 |      If the element is not a member, raise a KeyError.
 |
 |  symmetric_difference(...)
 |      Return the symmetric difference of two sets as a new set.
 |
 |      (i.e. all elements that are in exactly one of the sets.)
 |
 |  symmetric_difference_update(...)
 |      Update a set with the symmetric difference of itself and another.
 |
 |  union(...)
 |      Return the union of sets as a new set.
 |
 |      (i.e. all elements that are in either set.)
 |
 |  update(...)
 |      Update a set with the union of itself and others.
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  __class_getitem__(...)
 |      See PEP 585
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs)
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

In [100]:
list1 = ['apple','mango','banana','apple','apple']
unique_fruits = set(list1)

In [101]:
unique_fruits

{'apple', 'banana', 'mango'}

In [102]:
unique_fruits.add('kiwi')
unique_fruits

{'apple', 'banana', 'kiwi', 'mango'}

In [103]:
unique_fruits.remove('kiwi')
unique_fruits

{'apple', 'banana', 'mango'}

In [104]:
unique_fruits[0] #indexing techniques and slicing is not allowed

TypeError: 'set' object is not subscriptable

In [105]:
# removing the arbritary element in the set
unique_fruits = {'apple', 'kiwi', 'mango','mj','pop'}
unique_fruits.pop()

'kiwi'

In [106]:
numbers = {66,99,2,3,4,5}
numbers.pop()

2

In [107]:
help(set.pop)

Help on method_descriptor:

pop(...) unbound builtins.set method
    Remove and return an arbitrary set element.
    Raises KeyError if the set is empty.

In [108]:
set1 = set() #empty creation of set variable - set method only
type(set1)

set

In [109]:
set1 = {} # initialize empty dictionary
type(set1)

dict

In [113]:
square_list = []
numbers= [1,4,5,6,8,9]
for number in numbers:
    square_list.append(number ** 2)
print(square_list)

[1, 16, 25, 36, 64, 81]

In [114]:
square_list = [number ** 2 for number in numbers]
print(square_list)

[1, 16, 25, 36, 64, 81]

In [115]:
nos = [2,3,7,5,6,8]
even_nos = []
for no in nos:
    if no % 2 == 0:
        even_nos.append(no)
print(even_nos)

[2, 6, 8]

In [116]:
even_nos = [no for no in nos if no % 2 == 0]
even_nos

[2, 6, 8]

In [119]:
nos = [1,4,5,6,8,9,100]
even_nos = [no for no in nos if no %2 == 0 if no >10]   
even_nos

[100]

In [120]:
nos = [1,4,5,6,8,9,100]
even_nos = ['even' if no %2 == 0 else 'odd' for no in nos]   
even_nos

['odd', 'even', 'odd', 'even', 'even', 'odd', 'even']

In [126]:
numbers = [1,2,2,3,4,5]
dict1 = {}
for number in numbers:
    dict1[number] = number ** 2
dict1

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [125]:
numbers = [1,2,2,2,3,4,5]
set1 = set()
for number in numbers:
    set1.add(number ** 2)
set1

{1, 4, 9, 16, 25}

In [127]:
set1= {number ** 2 for number in numbers}
set1

{1, 4, 9, 16, 25}

In [128]:
def compute_circle_area(radius):
    pi = 3.14
    return pi * radius ** 2

In [132]:
user_input = float(input("Enter radius of circle: "))
print(f'We need to paint {round(compute_circle_area(user_input),2)} square units area')

ValueError: could not convert string to float: '5,3'

In [135]:
def student_info(**kwargs):
    for key, value in kwargs.items():
        print(f"{key}: {value}")

In [136]:
student_info(name="Alice", age=20, major="Computer Science")

name: Alice
age: 20
major: Computer Science

In [143]:
def add_numbers(*args):
    total = 0
    for num in args:
        total += num
    return total

In [144]:
print(add_numbers(1,2,3))
print(add_numbers(4,5,6,7,7,8))
print(add_numbers(1,1.5,2,2.5))

6
37
7.0

In [146]:
def log_message(*args, **kwargs):
    print('LOG: ', *args)
    if kwargs.get('level'):
        print("LEVEL:" , kwargs['level'])

log_message("System started", level="INFO")

LOG:  System started
LEVEL: INFO

In [155]:
def api_call(*endpoint, **params):
    print("Calling", *endpoint,"with parameters:" ,params)

api_call("/get-user","HL", page=123, limit=10)

Calling /get-user HL with parameters: {'page': 123, 'limit': 10}

In [156]:
def square_no(number):
    return number ** 2  

square_no(5)

25

In [ ]:
square_no1 = lambda number: number **2

print(square_no1(5))

25

In [158]:
add_no_L = lambda num1, num2 : num1 + num2

print(add_no_L(3, 4))

7

In [164]:
customers = [("alice", 25), ("bob", 26), ("charlie", 24)]
sorted(customers, key=lambda customer_info: customer_info[1])

[('charlie', 24), ('alice', 25), ('bob', 26)]

In [165]:
def square_no (number):
    return number ** 2

In [172]:
num = [1,2,3,4,5,6,7,8,9,10,1,2,3,4,5,6,7,8,9,10,1,2,3,4,5,6,7,8,9,10,1,2,3,4,5,6,7,8,9,10,1,2,3,4,5,6,7,8,9,10,1,2,3,4,5,6,7,8,9,10]
print(map(square_no, num  ))

<map object at 0x10656e980>

In [173]:
%time list(map(square_no, num))

CPU times: user 8 s, sys: 1e+03 ns, total: 9 s
Wall time: 10 s

[1,
 4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 100,
 1,
 4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 100,
 1,
 4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 100,
 1,
 4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 100,
 1,
 4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 100,
 1,
 4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 100]

In [174]:
%time
set1= {number ** 2 for number in num}
set1

CPU times: user 3 s, sys: 0 ns, total: 3 s
Wall time: 5.96 s

{1, 4, 9, 16, 25, 36, 49, 64, 81, 100}

In [175]:
words = ['alice', 'bob', 'charlie']

list(map(lambda word:word.upper(), words))

['ALICE', 'BOB', 'CHARLIE']

In [176]:
def is_even_no(number):
    return True if number % 2 == 0 else False

In [179]:
nums = [1,2,3,4,5,6,7,8,9,10]

In [180]:
%time
list(filter(lambda number: number &2==0, nums))

CPU times: user 1 s, sys: 1e+03 ns, total: 2 s
Wall time: 9.06 s

[1, 4, 5, 8, 9]

In [182]:
%time
list (filter(is_even_no, nums))

CPU times: user 1 s, sys: 0 ns, total: 1 s
Wall time: 3.1 s

[2, 4, 6, 8, 10]

In [183]:
text = "python programming"

In [185]:
%time
list(filter(lambda char: char in "aeiou",text))

CPU times: user 2 s, sys: 0 ns, total: 2 s
Wall time: 4.77 s

['o', 'o', 'a', 'i']

In [186]:
list(filter(lambda char: char[1] in "aeiou", enumerate(text)))

[(4, 'o'), (9, 'o'), (12, 'a'), (15, 'i')]

In [187]:
list(enumerate(text))

[(0, 'p'),
 (1, 'y'),
 (2, 't'),
 (3, 'h'),
 (4, 'o'),
 (5, 'n'),
 (6, ' '),
 (7, 'p'),
 (8, 'r'),
 (9, 'o'),
 (10, 'g'),
 (11, 'r'),
 (12, 'a'),
 (13, 'm'),
 (14, 'm'),
 (15, 'i'),
 (16, 'n'),
 (17, 'g')]

In [ ]:
from functools import reducereduce (function, iterable, initializer)

In [190]:
from functools import reduce
nums = [ 1,2,3,4,5 ]
total = reduce(lambda num1, num2: num1 + num2, nums)
total

15

In [191]:
total = reduce(lambda num1, num2: num1 + num2, nums, 100)
total

115

In [192]:
nums =[55,78,34,23]
max_value = reduce(lambda num1,num2: num1 if num1 > num2 else num2, nums)
max_value

78

In [193]:
max_value = reduce(max, nums)
max_value

78

In [194]:
min_value = reduce(min, nums   )
min_value

23

In [ ]:
words = ['python', 'is', 'a', 'prfogramming', 'language']
text = reduce(lambda w1, w2 :w1+" "+w2, words)
text

'python is a prfogramming language '

## Error Handling

In [200]:
x = 10
y = 0
try: 
    print(x/y)
except ZeroDivisionError as err:
    print(f"The user tried a number which is zero for division.")
except Exception as e:
    print(f"Error found : {e}")

The user tried a number which is zero for division.

In [ ]:
x = 10
y = 0
try: 
    print(x/y)

except Exception as e:
    print(f"Error found : {e}")
except ZeroDivisionError as err:
    print("The user tried a number which is zero for division.")
finally:
    print("Lets go for the other task.")

Error found : division by zero

In [201]:
def check_number(age):
    try:
        if age < 0:
            raise ValueError("Number is incorrect")
        return f"{age} is valid"
    except Exception as e:
        print(f"Error : {e}")

In [203]:
age = int (input("Enter your age no: "))
check_number(age)

Error : Number is incorrect

## Logging

In [1]:
import logging
logging.basicConfig(level = logging.DEBUG, format = '%(levelname)s:%(message)s')

#logging message
logging.debug("this is a debug message")
logging.info("this is info message")
logging.warning("this is a warning message")
logging.error("this is an error message")
logging.critical("this is critical msg")

DEBUG:this is a debug message
INFO:this is info message
WARNING:this is a warning message
ERROR:this is an error message
CRITICAL:this is critical msg

In [ ]:
import logging
logging.basicConfig(filename='app.log', level=logging.DEBUG, 
                    format = '%(asctime)s - %(name)s - %(levelname)s - %(filename)s - %(funcName)s - %(lineno)d - %(message)s')




logging.basicConfig(filename='app.log',level=logging.DEBUG, 
                     format = '%(asctime)s - %(name)s - %(levelname)s - %(filename)s -'
                     '%(funcName)s - %(lineno)d - %(message)s',
                     filemode='w',force = True)

In [2]:
age = int (input("Enter your age no: "))

def check_number(age):
    try:
        if age < 0:
            raise ValueError("Number is incorrect")
        logging.info (f"{age} is valid")
    except Exception as e:
        logging.error(f"Error : {e}")


check_number(age)

## Generator, iterator, yield

In [3]:
iterable = [1,2,3,4,5,]
iterator = iter(iterable)
print(next(iterator))

1

In [11]:
list(range (1,6))

[1, 2, 3, 4, 5]

In [ ]:
def numbers():
    for i in range (1, 6):
        yield i

gen = numbers()

print(next(gen))
print(next(gen))
print(next(gen))

print("_________")

for n in gen:
    print(n)

SyntaxError: invalid syntax (3183370072.py, line 6)

In [16]:
type(gen)

generator