### concat -Concatenate/ stack dataframes

what it does:
combines dataframes along rows(axis=0) and columns(axis=1)
works generally by index allignment

In [1]:
import pandas as pd

# monthly 1st sales
df_jan = pd.DataFrame({
    "InvoiceNo": ["A001","A002"],
    "Quantity": [5,10]
})

# 2nd month
df_feb = pd.DataFrame({
    "InvoiceNo": ["A003","A004"],
    "Quantity": [8,12]
})

# Extra columnar data
df_extra = pd.DataFrame({
    "Discount": [0.1, 0.2],
    "Region": ["North","South"]
})

In [2]:
df_jan.head()

  InvoiceNo  Quantity
0      A001         5
1      A002        10

In [3]:
df_feb

  InvoiceNo  Quantity
0      A003         8
1      A004        12

In [4]:
df_extra

   Discount Region
0       0.1  North
1       0.2  South

In [6]:
# 1. Default vertical concatenation axis = 0
df_all = pd.concat([df_jan, df_feb])
df_all

  InvoiceNo  Quantity
0      A001         5
1      A002        10
0      A003         8
1      A004        12

In [7]:
df_all_reset = pd.concat([df_jan, df_feb], ignore_index=True)
df_all_reset

  InvoiceNo  Quantity
0      A001         5
1      A002        10
2      A003         8
3      A004        12

In [ ]:
# rows aligned by index 0 of df_jan -> 0 of df_extra
# 1 of df_jan -> 1 of df_extra
df_horizontal = pd.concat([df_jan, df_extra], axis=1)
df_horizontal

  InvoiceNo  Quantity  Discount Region
0      A001         5       0.1  North
1      A002        10       0.2  South

## merge - sql like joins on columns

what it is:
  combine dataframes using key columns
  similar to sql join (inner, left, right, outer)

In [5]:
df_sales = pd.DataFrame({
    "StockCode": ["P001","P002","P003"],
    "Quantity": [10,5,8]
})

df_products = pd.DataFrame({
    "StockCode" :["P001","P002","P004"],
    "Description": ["Widget","Gadget","Thing"]
})

In [6]:
df_sales

  StockCode  Quantity
0      P001        10
1      P002         5
2      P003         8

In [7]:
df_products

  StockCode Description
0      P001      Widget
1      P002      Gadget
2      P004       Thing

In [8]:
df_inner = pd.merge(df_sales, df_products, how="inner")
df_inner

  StockCode  Quantity Description
0      P001        10      Widget
1      P002         5      Gadget

In [9]:
df_inner_left = pd.merge(df_sales, df_products, how="left")
df_inner_left

  StockCode  Quantity Description
0      P001        10      Widget
1      P002         5      Gadget
2      P003         8         NaN

In [10]:
df_inner_outer = pd.merge(df_sales, df_products, how="outer")
df_inner_outer

  StockCode  Quantity Description
0      P001      10.0      Widget
1      P002       5.0      Gadget
2      P003       8.0         NaN
3      P004       NaN       Thing

## join - index -based joins
what its
 combines dataframes by index (row labels) by default
 can also join on a key by setting the index

In [11]:
df_sales_indexed = df_sales.set_index('StockCode')
df_products_indexed = df_products.set_index('StockCode')

In [12]:
df_sales_indexed

           Quantity
StockCode
P001             10
P002              5
P003              8

In [13]:
df_products_indexed

          Description
StockCode
P001           Widget
P002           Gadget
P004            Thing

In [27]:
df_joined_inner = df_sales_indexed.join(df_products_indexed, how = "inner")
df_joined_inner

           Quantity Description
StockCode
P001             10      Widget
P002              5      Gadget

In [ ]:
#left join on the basis of index
df_joined_left = df_sales_indexed.join(df_products_indexed, how = "left")
df_joined_left

           Quantity Description
StockCode
P001             10      Widget
P002              5      Gadget
P003              8         NaN